@import url('bootstrap.css');
body{
    padding: 0!important;
    margin:0!important;
}
/**PARAGRAPHS AND HEADERS**/
/**************************/
h1, h2, h3{
    text-align: center;
    font-size: 25PX;
    
}
P{
    text-align: center;
}
.center p{
    color: white;
    font-size: 30px;
}
/******IMAGES******/
/*****************/
.jpg{
    height: 50%;
    width: 100%;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
centered{
  position: absolute!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%)!important;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: -60px;
}
.mouse{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
    margin-top: 380px;
}
.do{
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}
/*********Portfolio********/
/**************************/
.row {
  margin: 8px -16px;
}

/***********Add padding BETWEEN each column (if you want)*********/
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}
.folio{
  opacity: 0.8; 
  cursor: pointer; 
}
.folio:hover{
    opacity: 2;
}
/********************footer*******/
/*********************************/
.icons{
      text-align: center;
  margin-left: auto!important;
  margin-right: auto!important;   
}
